@import "variables";

header {
  padding: 1em;
  height: 14em;
  text-align: center;
  h1 {
    font-size: 1em;
    letter-spacing: 0.5em;
    color: $primary-color;
    position: relative;
    width: 10em;
    margin: 1em auto 0 auto;
  }
    .question-icon {
      position: absolute;
      font-size: 0.8em;
      bottom: 12px;
      right: -13%;
    }
  h5 {
    font-size: 2em;
    font-weight: 400;
    color: $primary-color;
    margin-bottom: 0;
  }
}

.navigation-icons {
  display: inline-block;
  padding: 0;
  li {
    list-style-type: none;
    display: inline-block;
    font-size: 1em;
    color: $primary-color;
  }
  i {
    padding: 0.5em 0.6em 0.5em 0.6em;
    border: 4px solid $primary-color;
    border-radius: 50%;
  }
  .water-icon {
    padding: 0.5em 0.73em 0.5em 0.73em;
  }
  a {
    text-decoration: none;
    color: $primary-color;
  }
}

.navigation-bar {
  display: inline-block;
  padding: 0 0 2em 0;
  width: 100%;

  li {
    list-style-type: none;
    float: left;
    width: 20%;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    border: $secondary-border;
    border-bottom: $default-border;
    &:first-child {
      border-left: 0;
    }
    &:last-child {
      border-right: 0;
    }
    // &:hover {
    //   @extend %hover-nav;
    // }
    &:hover a {
      color: $primary-color;
    }
  }
  i {
    font-size: 1em;
    padding: 0.75em 0 0.75em 0;
  }
  a {
    text-decoration: none;
    color: $secondary-color;
  }
}

section {
  width: 100%;
}

.menu-item {
  .item-image {
    width: 66%;
    margin: 0 auto;
    background: $primary-color;
    text-align: center;
  }
  img {
    width: 28%;
    padding: 8%;
    margin: 4% 0 4% 0;
    border-radius: 50%;
    background: #fff;
  }
  h4 {
    text-align: center;
    font-size: 1.2em;
    color: $primary-color;
  }
  p {
    text-align: center;
    line-height: 1.4em;
    color: $primary-color;
    margin-bottom: 3em;
  }
}

footer {
  text-align: center;
  margin: 8em 0 3em 0;
  span {
    color: $primary-color;
  }
  a {
    text-decoration: none;
    color: $primary-color;
    // &:hover {
    //   @extend %hover-to-secondary;
    // }
  }
}

@media screen and (min-width: 510px) {
  .menu-item {
    .item-image {
      width: 41%;
      float: left;
      margin: 0 3% 2em 3%;
    }
    h4 {
      text-align: left;
      font-size: 1em;
      color: $primary-color;
      margin: 0;
      float: left;
    }
    p {
      text-align: left;
      font-size: 0.8em;
      line-height: 1.4em;
      color: $primary-color;
      margin: 0.5em 3% 5em 0;
      float: left;
      width: 50%;
    }
  }
  .menu-item::after {
    display: block;
    content: "";
    clear: both;
  }

  nav {
    text-align: center;
  }

  .navigation-bar {
    display: inline-block;
    padding: 0;
    margin-bottom: 2em;
    width: 100%;
    border-bottom: $default-border;
    li {
      width: 12%;
      margin: 0 0.4% 0 0.4%;
      border-bottom: 0;
      &:first-child {
        margin-left: 17.75%;
        border: $secondary-border;
        border-bottom: 0;
      }
      &:last-child {
        margin-right: 17.75%;
        border: 1px solid $secondary-color;
        border-bottom: 0;
      }
      &:hover {
        color: $primary-color;
        border-top: 2px solid $primary-color;
        border-left: $default-border;
        border-right: $default-border;
        position: relative;
        background: #fff;
        top: 0.5px;
      }
    }
    i {
      font-size: 1em;
      padding: 0.75em 0 0.75em 0;
    }
    a {
      text-decoration: none;
      color: $secondary-color;
    }
  }
}

@media screen and (min-width: 840px) {
  header {
    height: 9em;
    h1 {
      text-align: left;
      width: 49%;
      margin: 2em 0 1em 5%;
    }
    .question-icon {
      bottom: 12px;
      left: 162px;
    }
    h5 {
      margin: 0 0 0 5%;
      width: 50%;
      display: inline-block;
      float: left;
      text-align: left;
    }
    .navigation-icons {
      margin: 0 5% 0 0;
      float: right;
    }
    header::after {
      content:"";
      clear: both;
      display: block;
    }
  }

  .menu-item {
    float: left;
    width: 31%;
    margin: 0 1% 0 1.3%;
    .item-image, h4, p {
      float: none;
      width: 100%;
      margin: 1em 0 0 0;
    }
    .item-description {
      margin-top: 1em;
    }
  }
  .menu-item::after {
    content:"";
    clear: both;
    display: block;
  }
  section {
    height: 300px;
  }
  footer {
    height: 3em;
    padding-top: 7em;
    margin: 0;
  }
}

@media screen and (max-width: 841px) {
  .navigation-bar {
    span {
      display: none;
    }
  }
}
